<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />

    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/admin/edit-blog.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope&family=Poiret+One&display=swap"
      rel="stylesheet"
    />
    <link
      href=" https://cdn.jsdelivr.net/npm/ace-builds@1.23.4/css/ace.min.css "
      rel="stylesheet"
      defer
    />

    <script
      src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
      defer
    ></script>

    <script
      src=" https://cdn.jsdelivr.net/npm/ace-builds@1.23.4/src-min-noconflict/ace.min.js "
      defer
    ></script>
    <script type="module" src="/scripts/main.js" defer></script>
    <script type="module" src="/scripts/admin/edit-blog.js" defer></script>

    <title>Moulik's Blog | Admin - Blogs</title>
  </head>
  <body>
    <div class="wrapper">
      <main>
        <input type="hidden" id="blogId" name="blogId" value="<%= blog.id %>" />
        <div class="heading">
          <h1>Edit Blog</h1>
          <button class="btn">Configure</button>
        </div>
        <div id="editor"><%= blog.draft.content %></div>
        <div class="action-buttons">
          <button class="btn" id="save">Save</button>
          <button class="btn" id="save-version">Save Version</button>
          <a
            href="<%= `/admin/blogs/preview/${blog.slug}` %>"
            target="_blank"
            class="btn"
            >Preview</a
          >
          <button class="btn" id="publish">Publish</button>
        </div>
      </main>
    </div>
    <div class="save-version-menu">
      <form action="#" class="form-control">
        <div>
          <input
            type="text"
            class="form-control"
            id="version-name"
            required
          /><span class="form-control input-label">Version Name</span>
        </div>
        <input type="submit" value="Save" class="form-control" />
      </form>
    </div>

    <div class="blog-config">
      <div class="config-header">
        <h2>Config</h2>
        <button class="btn">Delete</button>
      </div>
      <h4 class="general-label">General</h4>
      <form action="#" class="form-control">
        <div>
          <input
            type="text"
            class="form-control"
            id="blog-title"
            required
            value="<%= blog.title %>"
          /><span class="form-control input-label">Title</span>
        </div>
        <div>
          <textarea
            type="text"
            class="form-control"
            id="blog-description"
            required
          >
<%= blog.description %></textarea
          >
          <span class="form-control input-label">Description</span>
        </div>

        <h4>Header Image</h4>
        <div class="header-img">
          <button class="btn">Select</button>
          <input
            type="text"
            class="form-control"
            id="header-img-filename"
            value="<%= blog?.headerImage?.filename %>"
            disabled
          />
        </div>
        <div>
          <textarea
            name="header-img-subtitle"
            id="header-img-subtitle"
            class="form-control"
          >
<%= blog.headerImageSubtitle %></textarea
          >
          <span class="form-control input-label">Subtitle</span>
        </div>

        <div class="action-buttons">
          <button class="btn" type="button">Cancel</button>
          <button class="btn">Save</button>
        </div>
      </form>
    </div>

    <div class="img-picker">
      <h2>Select Image</h2>
      <form action="#" class="form-control img-picker">
        <div class="search-bar">
          <input type="text" class="form-control" required />
          <span class="form-control input-label">Search</span>
        </div>
        <input type="submit" class="form-control" value="Search" />
      </form>
      <div class="images"></div>
    </div>
  </body>
</html>
