<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />

    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/blogs.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope&family=Poiret+One&display=swap"
      rel="stylesheet"
    />

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/scripts/main.js" defer></script>
    <script type="module" src="/scripts/blogs.js" defer></script>

    <title>Moulik's Blog | Admin - Blogs</title>
  </head>
  <body>
    <div class="wrapper">
      <main>
        <div class="pill pill-1"></div>
        <div class="pill pill-2"></div>
        <h1>Blogs</h1>
        <form action="" class="form-control">
          <div class="search-bar">
            <input type="text" class="form-control" required />
            <span class="form-control input-label">Search for a Blog</span>
          </div>
          <input type="submit" class="form-control search-btn" value="Search" />
        </form>

        <div class="blogs">
          <% for (let blog of blogs) { %>
          <a href=<%- `/blog/${blog.slug}` %>>
              <div class="blog">
                <div class="blog-img blur-load">
                  <img src="/image/platinum-winners" alt="" />
                </div>
                <div class="blog-details">
                  <div class="blog-title">
                    <h2><%= blog.title %></h2>
                  </div>
                  <div class="blog-description">
                    <p><%= blog.description %></p>
                  </div>
                  <div class="blog-author">
                    <p><%= blog.author %></p>
                  </div>
                  <div class="blog-date">
                    <p>
                      <%= blog.createdAt.toLocaleString('en-US', { hour: 'numeric',
                      minute: 'numeric', hour12: true }) + " | " +
                      blog.createdAt.toLocaleString('en-US', { month: 'long', day:
                      'numeric', year: 'numeric' }) %>
                    </p>
                  </div>
                  <div class="blog-tags">
                    <p><%= blog.tags %></p>
                  </div>
                </div>
              </div>
          </a>

          <% } %>
        </div>
      </main>
    </div>
  </body>
</html>
